.profile__container{
    background-color:var(--background-color);
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    padding:2em;
    position:relative;
    justify-content: center;
    align-content:center;
    justify-items:center;
    align-items:center;
    flex-wrap:wrap;
    gap:2em;
}

.profile__container .image__wrapper{
    position:relative;
}

.profile__picture{
    object-fit:cover;
    height:400px;
    width:400px;
    border-radius:200px;
}


.about-me__container{
    padding:2em;
    background-color:var(--primary-background-color)
}

.about-me__title{
    text-align: center;
    text-transform: uppercase;
    color:var(--primary-color);
    margin-bottom:1em
}

.counters__container{
    padding:2em;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    gap:2em
}

.counter{
    background-color: var(--accent-color);
    padding:1em 2em;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    gap: 0.5em;
}

.questions__counter{
    background-color: var(--secondary-color);
}

.questions__counter:hover{
    background-color: var(--accent-color);
}

.questions__icon{
    width:30px;
}

.bookmarks__counter{
    background-color: var(--accent-color);
}

.bookmarks__counter:hover{
    background-color: var(--secondary-color);
}

.bookmarks__icon{
    width:30px;
}

@media (min-width:600px){

    .counter{
        font-size:1.6em
    }

    .questions__icon{
        width:50px;
    }
    .bookmarks__icon{
        width:50px;
    }

}
